[2019-10-28 01:04] cmaxwellau opened #1 "Error in conversion"
$ easyeda2kicad PCB1.0.json PCB1.0.kicad

Unsupported shape DIMENSION
Unsupported shape DIMENSION
Unsupported shape DIMENSION
Unsupported shape DIMENSION
Unsupported shape HOLE
Unsupported shape HOLE
Unsupported shape HOLE
Unsupported shape HOLE
/usr/local/lib/node_modules/easyeda2kicad/dist/spectra.js:26
            .filter(function (it) { return it !== null; })
             ^

TypeError: Cannot

[2019-10-28 09:20] urish commented on #1
Seems like the issue caused by the fact we don't have mapping for layer number 15 ("Mechanical"). I will look into it.

[2019-10-29 17:16] #1 closed

[2019-10-29 17:24] urish commented on #1
I have published a new release (1.1.1) with this fix. I tested it with your board, it seems to convert it successfully. I'd love to have your feedback about the result of the conversion.

By the way, how did you find out about this project? And how do you find converting easyeda to kicad useful? I'm planning to write a blog post about this tool, and your input can be really useful!

[2019-11-01 03:55] cmaxwellau commented on #1
Thanks uri,

Will test it out again soon. I found this with a Google search for easyeda,
kicad and conversion. As a node developer by day who is getting back into
some retro computing projects I thought it was worth checking out :)

On Wed, Oct 30, 2019, 04:24 Uri Shaked <notifications@github.com> wrote:

[2019-11-07 08:55] mekesim opened #2 "Does able to convert schematic file also?"
Thank you. It's quite a excellent tool. That can convert easyeda pcb file to kicad, include netlist.
Is there any way to covert PCB file to schematic file? Or directly convert schematic from easyeda?

[2019-11-08 01:06] mekesim opened #3 "name of the footprint"
It should be better to use EasyEDA package name according to KiCAD footprint name.

![1](https://user-images.githubusercontent.com/4256458/68440683-cc5e1a80-0206-11ea-92d3-cccb8e3f5b91.png)

![2](https://user-images.githubusercontent.com/4256458/68440682-cc5e1a80-0206-11ea-8314-e4e0d5d582c9.png)

[2019-11-08 08:23] urish commented on #2
Thanks for your feedback! Schematic is not currently supported, only the board layout. If there is enough demand, I may add it in the future

[2019-11-11 08:12] urish commented on #3
Hi,

I'm not sure what you mean, can you try to explain the example in different words?

Thanks!

[2019-11-13 07:23] mekesim commented on #3
Hi,
Thanks for your reply. And thanks for you develop such great tool, that I can covert the PCB from EasyEDA to KiCAD.

My question is:
in EasyEDA the **footprint** name is **package**, in the above pictures, the switch footprint name is SW-TH_4PIN-L6.00-W6.00. However your tool use ID to name the footprint.
So after convert to KiCAD PCB file, the footprint name is gge1136.

So each part will hav

[2019-11-13 07:28] urish commented on #3
I understand now, good point!
I'll have a look at that to see how to fix this.

[2019-11-13 14:36] #3 closed

[2019-11-13 14:48] urish commented on #3
Released version 1.2.0 with this fix

[2019-11-17 20:27] urish opened #4 "Incorrect footprint orientation"
Footprints are always exported with orientation value of 0. This causes issues when exporting a pick-n-place file from the KiCad PCB file

[2019-11-17 20:31] #4 closed

[2019-11-17 20:40] urish opened #5 "SMD footprints are not marked as such"
Thus, when exporting to Pick-and-Place files, the SMD parts are not included.

[2019-11-17 20:46] #5 closed

[2019-11-17 23:35] yangjuncode commented on #2
it will be awesome if both schema and pcb can export.

[2019-11-18 16:27] urish opened #6 "Components inside rotated footprints are mirrored"

[2019-11-18 16:28] #6 closed

[2019-11-26 11:16] mtiutiu opened #7 "Wrong pads orientation for QFN packages"
Hi,

I tried to convert one of my projects to KiCAD using this utility but it generates pads with wrong orientation for **QFN** packages (**pads** seem to be rotated **90 degree**).
See attached picture. I will attach the project file also if it helps.

Thanks for this little nifty tool.

![wrong_pads_orientation](https://user-images.githubusercontent.com/2891463/69625018-65d25c80-104e-11ea-9d77-b

[2019-11-26 11:23] urish commented on #7
Thanks for reporting! Just to confirm, have you used the latest version of the tool, 1.3.1?

You can print the version number by running: easyeda2kicad -v

[2019-11-26 11:24] mtiutiu commented on #7
Also some vias (in this case a ground one) seems to be shifted as seen in the attached pictures.

Conversion result:

![shifted_gnd_via](https://user-images.githubusercontent.com/2891463/69625673-bf875680-104f-11ea-8116-6ab2e967f00d.png)

Original:
![original](https://user-images.githubusercontent.com/2891463/69625759-f65d6c80-104f-11ea-8b17-17ee0d0a9de8.png)

[2019-11-26 11:25] mtiutiu commented on #7
Yep - I cloned your repository and used the latest master code:

[code]

[2019-11-26 11:31] mtiutiu opened #8 "Rectangular SMD pads seem to be 90 degree rotated"
Hi,

I noticed that some rectangular pads are rotated also causing collisions with vias (in this case a ground one). Attached is the project file also.

Conversion result:
![shifted_gnd_via](https://user-images.githubusercontent.com/2891463/69626196-d2e6f180-1050-11ea-9bc2-10910f09b3df.png)

Original:
![original](https://user-images.githubusercontent.com/2891463/69626214-db3f2c80-1050-11ea-9c90-e8

[2019-11-26 11:37] urish commented on #8
Are you sure the VIA is shifted? It seems in the correct place to me, just XL1/XL2 pads are rotated? Perhaps this is the same issue as #7

[2019-11-26 11:40] mtiutiu commented on #8
Sorry, you're right. I was in a rush and took the wrong conclusion. The pads for that crystal are rotated actually and collides with the GND via.

[2019-11-26 11:41] mtiutiu commented on #8
Indeed this may be related to #7 .

[2019-11-26 11:42] urish commented on #8
Cool, I think I know where the problem is - seems like the `width` and `height` attributes need to be rotated according to the part/pad orientation when converting between Kicad and EasyEDA. Looking into it right now

[2019-11-26 11:42] mtiutiu opened #9 "Some silkscreen elements are shifted and rotated also"
Hi,

Seems that some silkscreen component labels get shifted and rotated during the conversion process. See attached screenshots. Original project attached also.

Converted:
![silkscreen_shifted_moved_away](https://user-images.githubusercontent.com/2891463/69626765-fd857a00-1051-11ea-94d3-a2eca2a375fe.png)

Original:
![original](https://user-images.githubusercontent.com/2891463/69626694-cd3ddb80-1

[2019-11-26 11:58] mtiutiu opened #10 ""No copper" zones aren't respected"
Hi,

Seems that after the conversion the **no copper** zones are not taken into consideration and I get a full copper fill for the board. This happens for both sides of the board. See attached pictures and the original project file.

**Small note:**
  - The "no copper" zones are stacked over the "full copper" zones creating the subtraction effect in the original design.

Conversion:
![conversion_c

[2019-11-26 12:19] urish commented on #7
I pushed a fix, can you please check (also for #8)?

[2019-11-26 12:19] #7 closed

[2019-11-26 12:27] mtiutiu commented on #7
Nice - it's fixed now. Thanks. Issue can be closed now along with #8.

Attaching the result of conversion:
![rotation_fixed](https://user-images.githubusercontent.com/2891463/69633388-c797c400-1058-11ea-80cf-806eb8ca506b.png)

[2019-11-26 12:28] mtiutiu commented on #8
Fixed in #7.

[2019-11-26 12:28] #8 closed

[2019-11-26 12:29] urish commented on #7
Awesome! I'm looking into the other other issues now

[2019-11-26 12:29] urish commented on #9
Rotation issue sseems to be similar to #9, I'm not sure yet about why the shifting happens - investigating

[2019-11-26 12:32] mtiutiu commented on #9
More screenshots to observe the issue (some references are really heavily shifted).

![Screenshot from 2019-11-26 14-30-00](https://user-images.githubusercontent.com/2891463/69633673-5ad0f980-1059-11ea-9e5c-e9b899d6bd6d.png)

![Screenshot from 2019-11-26 14-31-58](https://user-images.githubusercontent.com/2891463/69633810-98ce1d80-1059-11ea-9bd2-941276ffc12a.png)

[2019-11-26 13:44] #10 closed

[2019-11-26 13:44] urish commented on #10
Alright, pushed a fix - can you please test and report back?

[2019-11-26 14:07] mtiutiu commented on #10
Wonderful - you're very skilled sir :). Works like a charm now. Thanks again.

Here's the proof:

![copper_fill_fix](https://user-images.githubusercontent.com/2891463/69640268-bc4b9500-1066-11ea-9c94-974a3f157f38.png)

[2019-11-26 14:08] urish commented on #10
Great to see it improving each time :) Thanks for sharing the screenshots

[2019-11-26 14:37] mtiutiu opened #11 "Components package rotation issues"
Hi,

It seems that this **QFN 48** package is rotated **180** degree after conversion. This happens with other SMD components on the board also like some decoupling capacitors around the QFN 48 IC. Please see attached screenshots.

After conversion:
![package_rotation](https://user-images.githubusercontent.com/2891463/69642537-90321300-106a-11ea-84f1-05219a177db3.png)

Original:
![original_package

[2019-11-26 14:43] mtiutiu commented on #11
Other components facing the same issue (180 degree rotation). As seen in the pictures those SMD packages are basically flipped.

After conversion:

![rotated_comp_around_ic](https://user-images.githubusercontent.com/2891463/69643200-a391ae00-106b-11ea-98ae-02d5eda84b58.png)

Original:

![original_smd_around_ic](https://user-images.githubusercontent.com/2891463/69643215-aa202580-106b-11ea-8c6b-bb29

[2019-11-26 14:57] urish commented on #9
I pushed a fix for the orientation - can you please test now?

shifting hasn't been addressed yet (but should be a bit less noticable with the correct orientation)

[2019-11-26 16:02] mtiutiu commented on #9
Yep orientation seems to be fixed now. I think some of the shifting issues are caused by the fact that some components are 180 degree rotated as stated in the #11 issue. If that's true then of course the text gets rotated also creating the illusion of being shifted (well...more or less).

Here's the proof about orientation fix and it seems fine now:

![orientation_fix_silk](https://user-images.git

[2019-11-27 10:41] mtiutiu commented on #2
Awesome indeed so I vote :+1:  for this one also.

[2019-11-27 11:43] urish commented on #11
So far, it seems to me to rotated components get flipped on the Y-axis, though I haven't managed to figure out a way to determine which ones get flipped

[2019-12-11 09:17] mtiutiu commented on #11
@urish Hey, any progress on this? I would really like to "port" some of my projects from EasyEDA to KiCAD. Thanks.

[2019-12-11 09:20] urish commented on #11
Hi @mtiutiu , unfortauntely, I haven't had a chance to work in it since. I'll give it another shot this weekend and keep you posted!

Other than this and the shifting, are there any other issues that prevent the EasyEDA → KiCad conversion?

[2019-12-11 15:05] mtiutiu commented on #11
Haven't seen anything else so far.

[2020-01-08 07:36] mtiutiu commented on #11
Hi @urish any progress with the current issues? Thanks.

[2020-01-09 20:51] urish commented on #11
Hi @mtiutiu , thanks for the ping - I haven't had a chance to look into it since that weekend.

If you do have some time to recreate a minimal example (with just one or two components) that reproduces the issue that could really be helpful to expedite the process

[2020-01-16 14:02] mtiutiu commented on #11
Hi @urish

Sure. Here's another one more simpler:

Original:
![original](https://user-images.githubusercontent.com/2891463/72530967-2cadb000-3879-11ea-9a0e-f8e05a4b6749.png)

Conversion:
![Screenshot from 2020-01-16 15-58-05](https://user-images.githubusercontent.com/2891463/72530978-3505eb00-3879-11ea-93be-75494e8d8c4d.png)

PCB source and result of conversion:

[sample_project.zip](https://githu

[2020-01-17 11:05] urish commented on #11
Thank @mtiutiu !

[2020-01-17 13:10] urish commented on #11
Alright, I think I found [the issue](https://github.com/wokwi/easyeda2kicad/commit/cd50297a5b37f2a21c8a52d8d5316df80d6c7e9f#diff-e9f7671dae8faa23f88a00a153691f59R56) after some extensive hunt. Can you please try again and report?

[2020-01-17 13:35] mtiutiu commented on #11
Oh man - you're awesome! This fixed it. I want to try with some other boards that I have and report back. Thanks a lot, I really appreciate it.

[2020-01-17 13:53] mtiutiu commented on #11
Yep, it seems fine now. I think this ticket can be closed now. Thanks a lot.

[2020-01-17 14:11] urish commented on #11
Lovely, I will cut a new release

[2020-01-17 14:11] #11 closed

[2020-01-17 14:11] urish commented on #9
@mtiutiu was this issue fixed as well?

[2020-01-17 14:31] urish commented on #11
Released 1.3.2 with this fix

[2020-01-17 16:01] mtiutiu commented on #9
@urish Yep, seems so.

[2020-01-17 16:01] urish commented on #9
Great!

[2020-01-17 16:01] #9 closed

[2020-01-17 16:17] mtiutiu commented on #2
@urish Is there a plan for this one also? It would be helpful in case of big schematics as it gets tedious to be re-created by hand in KiCAD. Indeed PCB conversion is more important at this point but I think this one will be also in the future IMHO.

I can help with testing of course but not on the development side 'cause I'm not a good programmer :smile:.

Thanks.

[2020-01-18 11:07] urish commented on #2
@mtiutiu not sure yet - I'm checking with some friend who may want to look into it

[2020-01-27 10:50] mtiutiu opened #12 "Unable to open KiCAD pcb file"
Hi there,

I tried to convert one of my projects to KiCAD and the process seems to be successful (lots of warnings though). When I try to open the generated kicad_pcb file I get this error message and it refuses to go further.

![Screenshot from 2020-01-27 12-44-15](https://user-images.githubusercontent.com/2891463/73168582-c2abcb00-4102-11ea-89a2-0e009662231f.png)

Original PCB:

Top view:
![top]

[2020-01-29 13:02] mtiutiu commented on #12
@urish

It seems that the generated kicad pcb file had this entry at the end (I opened the file with an text editor): `(xy NaN NaN)`.
I deleted that entry and I was able to open the PCB design file. I think it was a keep out zone that I defined in EasyEDA but I'm not sure.
The zone fill doesn't seem to be a grid style as in the original picture. But that is because it's not supported in KiCAD 5.1.

[2020-01-29 13:12] mtiutiu commented on #12
This design is a little bit different as I had to add some overlapping ground fill zones and some floating ground traces over where they intersect. This is because EasyEDA has some bugs when it comes to overlapped ground fill zones or so it seems. So I had to do some ugly "hacks" 😄 . Not ideal I know..but it worked and served to my final purpose.

[2020-01-29 13:15] urish commented on #12
Yeah, it seems like the keepout zone uses an SVG arc: `M 4367 3248 A 33.8 33.8 0 1 0 4366.99 3248 Z `
I think this is not directly supported by KiCad, so as a workaround, we'll ignore such zones for now.

[2020-01-29 13:25] urish commented on #12
Regarding the hatched fill (grid style) - yea, unfortunately it's not supported by KiCad :-(

[2020-01-29 13:28] #12 closed

[2020-01-29 13:48] mtiutiu opened #13 "Some footprints silkscreen is too large"
**Description:**
I just converted one of my designs and some capacitors get a pretty large footprint silkscreen drawing.

**Expected result:**
Footprints silkscreen should have the right size after conversion.

See attached pictures.

Original:
![Screenshot from 2020-01-29 15-34-47](https://user-images.githubusercontent.com/2891463/73361679-1eff1e00-42ae-11ea-96af-caa87ac36b3e.png)

Conversion res

[2020-01-29 13:54] mtiutiu commented on #13
Oh..and I forgot to mention that there are two high voltage symbols in the upper part of the board which are being rendered incomplete after the conversion also (the thunder strike arrow is missing).

[2020-01-29 14:11] mtiutiu commented on #12
Works as expected now. Thanks.

[2020-01-29 15:35] urish commented on #13
Capacitor issue fixed in aebe5df.

Board outline arc - seems like the start/end or the angle have to be inverted, but I'm not sure what the logic for determining that should be, so it requires further investigation.

As for the high voltage symbols - these are SOLIDREGIONs of type `solid`, which are not currently supported - can you please open another issue for that?

[2020-01-30 07:33] mtiutiu opened #15 "Some silkscreen symbols are not being rendered completely"
**Description:**
Seems that some symbols present on the PCB silkscreen (top and/or bottom) are not converted completely leading to an incomplete drawing. See the "**high voltage symbols**" in the attached pictures.

**Expected result:**
Any silkscreen symbols should be fully translated.

Original:
![Screenshot from 2020-01-29 15-34-47](https://user-images.githubusercontent.com/2891463/73428804-c6c

[2020-01-30 07:34] mtiutiu commented on #13
@urish Sure. I will open another ticket for the board outline also as it's more ok to be tracked as a separate issue. Thanks.

[2020-01-30 07:42] mtiutiu opened #16 "PCB outline left open"
**Description:**
 Seems that when dealing with an outline that follows an arc path then after conversion the contour is not enclosed properly.
Here I have an example of an arc and a segment that closes the path. At a first glance the arc seems to be rotated thus breaking up the connection with the enclosing segment/line.

**Expected result:**
 PCB outline path should be **fully closed**.

See atta

[2020-01-30 08:05] mtiutiu opened #17 "Non-GND solid regions are missing after conversion"
**Description:**
If I have in the original design a **solid copper region** created say for a MOSFET cooling and/or for high current paths which are not tied to GND then those aren't being translated.

**Expected result:**
The solid region tied to MOSFET drain pad should be present on both sides of the PCB.

See attached pictures.

Original:
![original](https://user-images.githubusercontent.com/28

[2020-01-30 08:29] mtiutiu opened #18 "Parts of footprints silkscreen are flipped"
**Description:**
Some parts of the footprint silkscreen drawing seem to be flipped. This may be related to #9 but I'm not sure if it's the same root cause.

**Expected result:**
Footprints silkscreen should render correctly.

See attached pictures.

Original:
![Screenshot from 2020-01-30 10-01-03](https://user-images.githubusercontent.com/2891463/73432308-1e689500-434b-11ea-954a-16ca5ce8cf31.png)

[2020-01-30 08:35] urish commented on #18
Seems to be related to #16

[2020-01-30 08:36] urish commented on #13
Thanks! So we can close this one

[2020-01-30 08:36] #13 closed

[2020-01-30 08:37] urish commented on #2
@karinchechik started working on this

[2020-01-30 08:38] urish commented on #17
May be related to #15 - needs further investigation

[2020-01-30 08:46] urish commented on #16
The start/end points of the arc are flipped - we need to figure out a method to determine which is which

[2020-01-30 08:48] urish commented on #17
Could be related to #15

[2020-01-31 08:36] #18 closed

[2020-01-31 08:37] urish commented on #16
Just pushed a fix, should also solve #18. Can you please confirm

[2020-01-31 11:08] mtiutiu commented on #16
@urish

Yep, this fix solved both. Although the endpoints of the arc are not perfectly connected with the segment but after a manual editing of the segment it recognized the board outline.

[2020-01-31 13:34] urish commented on #16
Thanks for checking!

Yes, it seems like KiCad and EasyEDA render the arc slightly different. I suspect this has to do with the fact KiCad only supports one place after the decimal point for angles, so it rounds up the arc angle from 305.175 to 305.2. Unfortunately, if this is indeed the case, I'm afraid we can't do much about it...

[2020-01-31 13:34] #16 closed

[2020-01-31 15:23] mtiutiu commented on #16
@urish

I thought so. It's hard if not impossible to get each other perfectly aligned. But that's OK I don't mind doing it by hand. Thanks for fixing this also.

[2020-02-03 04:07] holmesrichards opened #19 "Error in Object.convertBoard"
I get an error trying to convert:

[code]

OS is Linux Mint 19.2. KiCad version `5.1.5-52549c5~84~ubuntu18.04.1
`
Attached file is what I attempted to import.

[123ADC.json.zip](https://github.com/wokwi/easyeda2kicad/files/4146214/123ADC.json.zip)

[2020-02-03 17:08] urish commented on #19
Hi @holmesrichards , I looked into this file and this seems to be a schematics file (and not PCB layout). Schematic files are not currently supported (see #2), but as @karinchechik has started working on this, it will probably be possible in a few weeks from now.

[2020-02-03 17:08] #19 closed

[2020-02-03 17:36] urish commented on #15
Can you please check again with latest version from master?

[2020-02-04 07:41] mtiutiu commented on #15
@urish

Hi, the conversion process is crashing with an exception now:
[code]

[2020-02-04 08:14] urish opened #20 "Cannot read property '0' of null when SOLIDREGION contains an arc"
For details: https://github.com/wokwi/easyeda2kicad/issues/15#issuecomment-581781472

[2020-02-04 08:19] urish commented on #15
Should be fixed by #20, can you give it another go?

[2020-02-04 08:58] mtiutiu commented on #20
Nice. It works now. Thanks. Can be closed.

[2020-02-04 08:58] mtiutiu commented on #15
Yep. Works now as expected. See attached picture.
![Screenshot from 2020-02-04 10-57-32](https://user-images.githubusercontent.com/2891463/73729215-4dad4680-473d-11ea-8a45-865a28632056.png)

[2020-02-04 08:59] #20 closed

[2020-02-04 09:00] mtiutiu commented on #17
@urish #15 seems to be fixed now and the symbols are rendered correctly.
The solid region is still missing though.

[2020-02-04 09:04] urish commented on #15
Awesome! released as 1.4.0

[2020-02-04 09:04] #15 closed

[2020-02-04 09:05] urish commented on #17
Right, I'll look into this over the next few days

[2020-02-04 10:17] urish commented on #17
How about now?

[2020-02-04 10:29] mtiutiu commented on #17
Yes sir - that's the spirit! Works like magic now. Thanks a lot.

One small issue is present but that's fixable by hand. It seems that the vias inside that solid region even if they have associated the same net name still don't want to connect.

Other than that - **respect!!!**

![Screenshot from 2020-02-04 12-24-19](https://user-images.githubusercontent.com/2891463/73736436-6d4a6c00-4749-11ea-8b2

[2020-02-04 10:33] urish commented on #17
Thanks for the super-quick feedback!

Yes, I was looking in KiCad, but it seems like they do not support setting the net names for polygons (I even tried [adding a net attribute](https://github.com/wokwi/easyeda2kicad/blob/408b36e34cccd397ab91423305a3e539193b038c/src/board.ts#L452), but it failed so I commented that out). If you do find a way to do this via KiCad UI, let me know and I will look ho

[2020-02-04 10:36] urish commented on #2
For the time being, the code only handles the conversions of wires in schematics. The command for converting the schematics is the same as PCB, and the program automatically detects the file type and performs the conversion accordingly:

`easyeda2kicad filename.json filename.sch`

Components, junctions, texts, etc. are not supported yet. Also multi-page schematics are not supported (only the first

[2020-02-04 13:37] mtiutiu commented on #17
@urish I think this ticket can be closed as the initial issue was solved. The rest..well maybe other tickets if it's the case.

[2020-02-04 13:40] #17 closed

[2020-02-04 13:54] mtiutiu commented on #17
@urish can we have a new release including this fix also if not already there? Thanks.

[2020-02-04 14:25] urish commented on #17
Sure, released as 0.4.1

[2020-02-05 13:24] mtiutiu opened #21 "Mounting holes are not present after conversion"
**Description:**
Mounting holes are not present after converting a board from EasyEDA to KiCAD.

**Expected result:**
Mounting holes should be present after conversion.

See attached pictures.

Original:
![pcb_bottom](https://user-images.githubusercontent.com/2891463/73845104-90991800-482a-11ea-96c1-748228f51a0d.png)

After conversion:
![Screenshot from 2020-02-05 15-18-36](https://user-images.git

[2020-02-05 16:24] urish opened #22 "Board "No Solid" zones should allow tracks/vias"
Currently, EasyEDA "No Solid" zones are converted to KiCad keepout zones which do not allow copper pours, tracks or vias. EasyEDA seems to permit tracks/vias in these zones, so we should also allow them in KiCad

[2020-02-05 16:28] #22 closed

[2020-02-05 16:40] urish commented on #21
Does KiCad have a tool for creating holes?

As far as I can tell, there are two indirect ways to achieve this:
1. Add a circle in the Edge.Cuts layer
2. Create a footprint with a pad that has a hole size that equals the size of the pad

But perhaps I missed something?

[2020-02-05 17:08] mtiutiu commented on #21
@urish No it doesn't have a direct way of doing it. Usually you accomplish this via a designated mounting hole footprint (there is a dedicated library in KiCAD).

[2020-02-05 17:12] urish commented on #21
@mtiutiu we can't really use the dedicated footprint, as the holes can be of any diameter, so we'd have to either use a circle in the Edge.Cuts layer, or wrap the holes in a footprint.

Another option would be to open a feature request for KiCad to add support for standalone holes. Do you happen to know some of the developers who work on KiCad? perhaps they can point us at the right direction

[2020-02-05 17:58] mtiutiu commented on #21
I haven't used KiCAD for some time now but that was the only option I knew of. Maybe things changed meanwhile I'm not sure. The best place to ask for questions is on their main [forum](https://forum.kicad.info) . All the developers listen there.

[2020-02-06 07:42] mtiutiu commented on #21
@urish Ok I found the block that needs to created in the kicad pcb file source in order to generate a hole.

[code]
In my case it's a **1.5mm** hole. As I see above everything can be generated pretty easy I guess as it follows a pattern.

What's left to be determined is the coordinates which is this attribute `(at 109.982 78.232)`. There are two more attributes like `(tedit 5E3BC186)` and `(tstamp

[2020-02-06 07:53] mtiutiu commented on #21
The hole diameter is set here `(pad "" np_thru_hole circle (at 0 0) (size 1.5 1.5) (drill 1.5) (layers *.Cu *.Mask))`. The rest is just metadata so to speak. The most important atrributes are `(size 1.5 1.5) (drill 1.5)`.

So the above module generates a NPTH hole. For plated holes I need to search what it looks like. But I don't remember if EasyEDA has plated holes or if and how can be generated.

[2020-02-06 07:58] urish commented on #21
Thanks for looking into this @mtiutiu !

Seems like the holes in EasyEDA are only NPTH:

![image](https://user-images.githubusercontent.com/892318/73916938-17033780-48c7-11ea-85aa-c7a29627f177.png)

[(source)](https://docs.easyeda.com/en/DocumentFormat/3-EasyEDA-PCB-File-Format/index.html#HOLE)

Let me see what I can do with your findings

[2020-02-06 08:35] urish opened #23 "Locked flag not respected for footprints"
When converting footprints, the "locked" flag is ignored

[2020-02-06 08:39] #23 closed

[2020-02-06 10:36] mtiutiu commented on #21
@urish

I just tested with latest master code as it is right now and it seems to work. Yaay!

See here:
![Screenshot from 2020-02-06 12-34-25](https://user-images.githubusercontent.com/2891463/73929313-3dcc6880-48dd-11ea-9238-bb9e64ec1e2c.png)

[2020-02-06 10:37] urish commented on #21
Lovely, I will release shortly. Can we close this issue then?

[2020-02-06 10:51] mtiutiu commented on #21
Yep, seems like this one can be closed now.

[2020-02-06 10:51] #21 closed

[2020-02-06 10:52] urish commented on #21
Released as part of 1.5.0

[2020-02-20 09:50] urish commented on #2
The latest release (1.6.0) also add supports for Junctions and No Connect flags in schematics.

[2020-03-03 21:11] coolio986 opened #25 "Documentation for building package in npm"
I was able to npm install -g easyeda2kicad, but when I try to build it I am getting errors. I can run the program without issues, but when building to typescript it does not work.

I have made changes to the conversions of holes to via's and I would like to create a pull request, but since I cannot build, I cannot pull.
`C:\Users\Anthony\AppData\Roaming\npm\node_modules\easyeda2kicad>npm run-scrip

[2020-03-03 21:16] urish commented on #25
Are you able to run the tests? Is there any information in the debug log file that NPM spits (the path to that file is in the last line of the error message)?

[2020-03-03 21:50] coolio986 commented on #25
I ran test:

[code]

[code]

I am not all to familiar with typescript yet, I know more js than anything

[2020-03-03 21:58] urish commented on #25
Alright, so I think I know - you are working on the package that was installed through NPM, but this package does not include all the source files, just the runtime files (js files that were generated from typescript).

In order to work on the project, you need to:
1. fork it to your own github account (this is needed so that later you could create a pull-request)
2. git checkout from your fork to

[2020-03-03 21:59] coolio986 commented on #25
Yes, I sure will. Just a few moments

[2020-03-03 22:00] coolio986 commented on #25
By the way, Thanks for making this program. You have literally saved me from having to start over in Kicad!

[2020-03-03 22:04] coolio986 commented on #25
Just checked out and ran npm install followed by npm start:

[code]

And the log:

[code]

Running `npm test` passed

[2020-03-03 22:05] coolio986 commented on #25
I suppose that means I need to pass arguments using start?

[2020-03-03 22:07] coolio986 commented on #25
Just tried it, yep that works

[2020-03-03 22:39] #25 closed

[2020-03-05 18:17] rattboi opened #27 "Binaries with releases?"
This tool looks awesome!

I'm able to build it easily, but I have friends that are less software-inclined and the source-only releases are a barrier-to-entry for them using your great tool.

Would you be open to adding releases as part of the Github Actions CI?
https://dev.to/jochemstoel/bundle-your-node-app-to-a-single-executable-for-windows-linux-and-osx-2c89

If you'd like, I could submit a PR,

[2020-03-05 18:25] urish commented on #27
Thanks @rattboi!

Well, you don't really need to build it from source, you can easily install it through npm via `npm i -g easyeda2kicad`, and then use it through the command-line. Is that something that can work for your friends? Perhaps we should improve the documentation?

[2020-03-05 18:27] rattboi commented on #27
Sure, and that's trivial for me, but convincing windows-based folks to install node/npm is a hurdle in itself. Same with python or ruby or whatever. Lots of people aren't running Cygwin, git-bash, or WSL in windows.

[2020-03-05 18:29] urish commented on #27
I see, how about a web page where you can open an EasyEDA file and save as KiCad?

[2020-03-05 18:53] rattboi commented on #27
That'd be a great thing too.

Are you opposed to generating executables in CI, then? As I said, I could write it up, myself. They'd live in the actions bit, not the git history, so It won't be checking in binaries into git.

[2020-03-05 20:02] urish commented on #27
Not opposed at all!

Through, I think a web interface will be easier for most users, and also ensure they are always running with the most up to date version

[2020-03-05 20:04] rattboi commented on #27
I can get on-board with that as well :)

Having multiple options seems like a win as well, though, so I'll see about getting a PR put together still.

[2020-03-05 20:05] urish commented on #27
Awesome! Meanwhile, I created a repo for the web interface: https://github.com/wokwi/easyeda2kicad-web

expect some initial version soon :)

[2020-03-05 20:19] tianfeng33 commented on #27
I really appreciate this.  I want to open source more of my files but they are stuck in easyeda.

[2020-03-06 00:19] rattboi commented on #27
That was amazingly fast. Color me impressed.

[2020-03-06 01:21] tianfeng33 opened #28 "Polygon pads in footprints are not converted correctly"
Hi,  Just reporting on an issues with the conversion.  I seem to be missing pads and other things.  There is a link to the json file on the git hub.
![unknown (1)](https://user-images.githubusercontent.com/42009022/76040827-6cf6e980-5f1e-11ea-962f-272b7d75d2d2.png)

![image](https://user-images.githubusercontent.com/42009022/76040819-68323580-5f1e-11ea-9a4c-3e7038a01f9e.png)

Here is a link to the

[2020-03-06 08:51] urish commented on #28
Thanks for reporting!

Can you please also provide a list of the missing pads/other issues that you found so we can look into them?

[2020-03-06 14:43] tianfeng33 commented on #28
Sure there is a lot.
I would start with it looks like the ground plane didn't convert. No GND pad
All pads are circular instead of square.
 r1-r4,r6,r22,c6,c7,c20 have no pads.
 r,5,r7,r8,r10r,r18,r20,r27,r29,r30,r35,c4,c5,c12,c13, are missing the top pad. R11,r24,r25,r31,r31,r37,c3,c19 are missing the bottom.
Several of the 0603 resistors pads also appear to be different sizes.

[2020-03-06 16:24] urish commented on #28
Yes, I can definitely see these issues now. I attach the source JSON file for reference, and will start opening separate issues for each kind of problem shortly.

[issue-28.zip](https://github.com/wokwi/easyeda2kicad/files/4299273/issue-28.zip)

[2020-03-06 16:50] urish commented on #28
Most of the issues (all the resistors related issues) seem to be related to conversion of polygon-shaped pads, so I renamed the issue to reflect that.

[2020-03-07 08:29] urish opened #29 "Missing nets after conversion"
In some cases, the EasyEDA board file is missing the `routerRule` object with the list of nets. This currently results in no nets being converted. An example for such case is the board from #28.

We should be able to reconstruct the list of nets as we go over the PCB tracks/pads, and save this information in the converted kicad file.

[2020-03-07 08:39] #29 closed

[2020-03-07 10:13] urish commented on #28
Hi @tianfeng33, can you please check again with the last version from master?

Most issues should be resolved now, except for the GND PAD, which should eventually be fixed once #26 will be done and merged.

[2020-03-07 20:42] rattboi commented on #28
I just tried this via the new online converter and it looks to be the same as before. Will the online version track specific releases or HEAD?

[2020-03-07 22:06] urish commented on #28
@rattboi the online version tracks the releases. I have just released the latest fixes as 1.7.0, so they should now be reflected there as well.

[2020-03-16 18:53] kimkash opened #32 "error trying to convert footprint"
Tried to convert this footprint:
https://easyeda.com/modules/Arduino-Pro-Mini-Footprint_1c2d205f5a224e7abd7498291e7a9dd3

Received error:
"Running easyeda2kicad v1.7.0:
Reading file Arduino Pro Mini Footprint.json...
Parsing content...
Error: unsupported file format"

[2020-03-16 19:16] karinchechik commented on #32
I'll take a look at this issue and send an update soon

[2020-03-17 18:44] tianfeng33 commented on #28
I took some time with this today and noticed an issue but I don;t know what is causing it.  The problematic pads are converting as custom circular and not rectangle.  They need to be rotated 180 and changed to rectangle to make them match the correct ones.  I am still experiencing issues with some ground pads not attaching to the ground flood even though the net is gnd.

[2020-03-17 18:53] urish commented on #28
Hi @tianfeng33, have you used the latest version (1.7.0)? If yes, can you please attach a screenshot highlighting the issues?

[2020-03-17 22:28] tianfeng33 commented on #28
![image](https://user-images.githubusercontent.com/42009022/76907331-56d11d80-687c-11ea-9065-9aac48f094e7.png)  the non labeled pad is normal

![image](https://user-images.githubusercontent.com/42009022/76907377-70726500-687c-11ea-9a1e-5690263952b6.png)

Then changed to this.
![image](https://user-images.githubusercontent.com/42009022/76907411-87b15280-687c-11ea-8abe-e86833ac2d60.png)

The GND iss

[2020-03-20 20:10] urish commented on #28
So here is the deal - it seems like these pads are defined as having a custom shape (polygon) in EasyEDA, and as such, we also convert them to custom shape pads in KiCad. It seems like KiCad can't connect pads with custom shape to the ground fill. I will see if we can automatically detect from the list of points that this looks like a rectangle, and emit a rectangle pad instead of a custom-shape p

[2020-03-20 20:52] urish commented on #28
Can you please check now, with version 1.7.1?

[2020-03-21 20:43] karinchechik commented on #32
@kimkash - The example you attached is a PCB Module which will be converted to PCB in KiCAD. It is now available. The issue was only in the web version.

@urish - We should keep this issue open to add support for PCB Lib as well, which will be converted to fileName.kicad_mod

[2020-03-28 16:31] tianfeng33 commented on #28
I checked the other day and forgot to update you.  It is all working much better.  Only one small issues left.  The ground fill does not attach to the two pins on the tssop 14 footprint.  I just connected them with traces.  It is a very small thing but I thought I would mention it

[2020-03-29 09:28] urish commented on #28
Thanks for the update @tianfeng33! The same happens on my end. The reason for this seems to be the minimum width of the Copper Zone, which is set to 0.254mm.

![image](https://user-images.githubusercontent.com/892318/77845522-34ae9800-71b8-11ea-9347-498f29cafdbe.png)

I tried changing it to 0.1mm, and it did the trick for all 3 pads:

![image](https://user-images.githubusercontent.com/892318/77845

[2020-03-29 09:35] #28 closed

[2020-03-29 11:41] urish opened #33 "Add support for 4-layer (or more) PCBs"
Currently, we [only convert layer numbers 1...15](https://github.com/wokwi/easyeda2kicad/blob/1343a47b818a8a28281aef1c97b5505389f5cfc7/src/board.ts#L8).

Looking at an EasyEDA board file, it seems like the inner layers are numbered starting from 21:

[code]

Thus, we need to find the corresponding layer names in KiCad, and probably also add them to the [generated layers array](https://github.com/w

[2020-04-08 06:03] opeRaptor commented on #32
I am still getting this issue on the web version: Error: unsupported file format

[2020-04-08 06:09] opeRaptor opened #34 "Warning: unsupported shape PAD"
Using the online converter, I am getting "Warning: unsupported shape PAD" errors

Subsequently, the pads in question do not show up on the kicad export.

As footprints export doesn't work as seen in #32 , these footprints were put on a board before export.

Files tested:
https://easyeda.com/component/5b28a2cbfe994fc2a6c4874139cdbdfb
https://easyeda.com/component/b74bc13c9ec64e4b81046b13b757c4dd

[2020-04-08 07:38] urish commented on #32
@opeRaptor just to confirm, you are trying to convert an EasyEDA Footprint file, right?

[2020-04-08 07:48] urish commented on #34
Thanks for reporting! It should be solved with #31

[2020-04-08 07:53] opeRaptor commented on #32
Yes, trying to convert a EasyEDA footprint file.

I also tried to put a footprint alone on a board as a work around but had another as issue described in #34

[2020-04-08 07:55] opeRaptor commented on #34
Will this fix be pushed to the online tool at https://wokwi.com/easyeda2kicad ?

[2020-04-08 07:58] urish commented on #34
Yes, once it is merged it will be. We always keep the online tool up to date with the latest release

[2020-04-08 13:06] Seumi opened #35 "Error: unsupported file format"
i got a ‘Error: unsupported file format‘ when using the online converter
the json file is exported from easyeda, and the library name is ['EC11E1834403'](https://easyeda.com/component/06da706dc27540619d2a97c512279c2d)
the online converter show
`Running easyeda2kicad v1.7.1:
Reading file SW-TH_EC11E1820402.json...
Parsing content...
Error: unsupported file format
`
also i used the npm version(1.7.1

[2020-04-08 13:19] urish commented on #35
Thanks for reporting! #31 and #32 should fix this :-)

[2020-04-08 13:31] Seumi commented on #35
oh, it seem i also try to convert a footprint like #34 , sorry for my mistake 😔.
Thanks for your outstanding work.😄

[2020-04-11 18:57] urish commented on #34
Should be fixed with the latest release, 1.8.0!

[2020-04-11 18:57] #34 closed

[2020-04-11 18:58] urish commented on #27
Closing, as the online version seems to do the job for now

[2020-04-11 18:58] #27 closed

[2020-04-16 16:07] soheilpaper opened #36 "can it export shematic part of easyeda to kicad too?!"
based of this instruction:

[Introducing: EasyEDA 2 KiCad][1]

by getting [this plugin][2], when i tried to export the file saved by [easyeda][3] :

[![enter image description here][4]][4]

My Problem is in exporting the [Easyeda][3] file to [kicad][5] pcb designing software, i tried to export two pcb and schematic part of easyeda project by

[code]

so it could convert the PCB part of easyeda pro

[2020-04-16 16:12] urish commented on #36
Thanks for reporting! Schematics are still work in progress, @karinch is working on adding the missing parts. If you could attach a sample EasyEDA schematic file that fails the conversion, that would be helpful!

[2020-04-16 19:30] soheilpaper commented on #36
The schematic file added by the main easyeda files, and its links.

[2020-04-16 19:33] urish commented on #36
Thanks, I'm attaching them to the issue to make it easier for collaborators to find it:

[Project_POWER IOT OUTLET_20200416140429_2.zip](https://github.com/wokwi/easyeda2kicad/files/4489398/Project_POWER.IOT.OUTLET_20200416140429_2.zip)

[2020-04-22 18:57] svalambhia opened #37 "file conversation error"
Running easyeda2kicad v1.8.0:
Reading file 2.4g telecontrol board_2020-04-23_00-23-43.json...
Parsing content...
Detected EasyEDA board (PCB) file.
Warning: unsupported shape DIMENSION
Warning: unsupported shape DIMENSION
Warning: unsupported shape DIMENSION in footprint gge20f64733a18c5380
Warning: unsupported shape DIMENSION in footprint gge20f64733a18c5380
Warning: unsupported shape DIMENSION i

[2020-04-22 19:02] urish commented on #37
Thanks for reporting! Would you mind attaching the board you are trying to convert so we can investigate?

[2020-04-24 04:29] svalambhia commented on #37
This two items fail. test is very simple file i don't without any text,
2.4g had come text, I thought non english text might have problem so
removed it that also, but it fails after that also.

Best Regards

*Siddharth VALAMBHIA <sid@samupam.com>*

On Thu, 23 Apr 2020 at 00:32, Uri Shaked <notifications@github.com> wrote:

[2020-04-24 06:33] urish commented on #37
Can you please attach or add a link to a file that fails?

[2020-04-24 06:53] urish commented on #37
I managed to reproduce the issue using a board that has Hebrew text on it. Working on a fix, should be ready today.

[2020-04-24 08:28] urish commented on #37
Update: I've uploaded a fix, can you please check again?

[2020-04-30 15:31] svalambhia commented on #37
hello sorry for last mail, the files I had sent you are working fine.
Thanks.

Best Regards

*Siddharth VALAMBHIA <sid@samupam.com>*

On Thu, 30 Apr 2020 at 20:58, Siddharth Valambhia <svalambhia@gmail.com>
wrote:

[2020-04-30 15:49] urish commented on #37
Excellent, thanks for the update!

[2020-04-30 15:49] #37 closed

[2020-06-12 21:30] planetsLightningArrester opened #38 ""Warning: unsupported shape SVGNODE [...]""
Hi.

I developed a simple PCB that I'd like to import in FreeCAD using [this addon](https://github.com/marmni/FreeCAD-PCB) which seems to works great with some .kicad_pcb files from a KiCad project.

I can generate my EasyEDA file "input.json" an get the "output.kicad_pcb" in both Node library on my pc and the [online converter](https://wokwi.com/easyeda2kicad?utm_source=wokwi&utm_medium=blog&utm_

[2020-06-13 07:14] urish commented on #38
Thanks for reporting! Does the FreeCAD plugin report any specific error?

[2020-06-13 16:21] planetsLightningArrester commented on #38
Hi!
At first, it doesn't prompt any useful error just: "Incompatible file format". So I looked over the addon python files and it seems that it was just that the addon looks in the first line of the file for the kicad description like:

"(kicad_pcb (version 20171130) (host pcbnew "(5.1.6)-1")"

Which is in the second line of your generated file. This error is resolved just deleting the first empty

[2020-06-13 17:16] urish commented on #38
Thanks for looking into this!

Removing the first empty line should be simple, but it seems like the correct solution would actually be to rewrite the parser of the FreeCAD-PCB addon to parse the file according to the the [S-expression format](https://forum.kicad.info/uploads/short-url/uGN3dKsNzFeWMYUxEhAaNqo4kG2.pdf) (section 4 describes the format). It shouldn't be too hard - the [JavaScript cod

[2020-06-15 13:06] planetsLightningArrester commented on #38
I'll probably stick with Python script's solution. Thank you so much for your help!

[2020-06-15 13:06] #38 closed

[2020-08-14 22:16] networkedaudio opened #40 "Conversion failed: Error: Missing layer id: 22"
[Import_2020-08-14_17-15-35.zip](https://github.com/wokwi/easyeda2kicad/files/5077590/Import_2020-08-14_17-15-35.zip)

[2020-08-17 05:37] urish commented on #40
Thanks for reporting! Seems to be related to #33

[2020-08-17 07:35] urish commented on #33
Released this feature as part of v1.9.0

[2020-08-17 07:35] #33 closed

[2020-08-17 07:57] urish commented on #40
Fixed!

[2020-08-17 07:57] #40 closed

[2020-09-05 20:42] urish commented on #32
Yes, that's exactly the purpose of the issue!

I think that the shape should contain most if not all of the info required for generating the `.kicad_mod` footprint file. TBH I don't remember all the specifics, but @karinchechik looked into it in the past, perhaps she has some additional info that can help

[2020-09-05 21:04] greyltc commented on #32
I was thinking some info might be missing because I don't see the pin names in that string. I was expecting to see A1...A12 and B1...B12

[2020-09-12 17:07] karinchechik commented on #32
Currently, any file that is not schematic will be converted to '.kicad_pcb'. @greyltc, if you'll try to convert this PCB (the file you get from the link you attached), you will get a kicad_pcb file. From what I can see, it was fully converted. The A1-A12 and B1-B12 are the PAD numbers. When using a footprint, EasyEDA is showing it as LIB that contains multiple shapes chained to 1 string. In the ro

[2020-09-14 22:40] migueltapiar1 opened #41 ">Export Error"
Hi, i export my easyeda files to json, then convert them into kicad, when i try to open de kicad file i get this error
![image](https://user-images.githubusercontent.com/71155501/93145121-7072e680-f6a0-11ea-92ca-d1365b3778ec.png)

I dont know what it means, can you explain me the error please? or what can i do to fix it.

thanks.

[2020-09-15 07:43] urish commented on #41
HI, this means that EasyEDA2KiCad could not convert your board correctly. If you attach your EasyEDA source file I can look into it.

[2020-09-15 22:47] migueltapiar1 commented on #41
I already figure it out, it was a design error with a component i made, thanks.

[2020-09-15 22:47] #41 closed

[2020-10-12 23:56] pseudobacon opened #42 "Unsupported shape SVGNODE and Unsupported SOLIDREGION"
I tried converting a couple of keyboard PCBs but I got these errors:
![image](https://user-images.githubusercontent.com/12183854/95800240-ae683680-0d42-11eb-9b68-f5ce853fafbd.png)

Here are the two projects I tried:
https://lceda.cn/editor#id=47008868b61d4377add794be58e53865
https://lceda.cn/editor#id=04fc83934db54e4f8cd980bc7668f0e2

[2020-10-17 09:13] urish commented on #42
Attaching the relevant projects as JSON files:

[issue-42.zip](https://github.com/wokwi/easyeda2kicad/files/5395257/issue-42.zip)

[2020-10-17 09:17] urish opened #43 "Maximum line length exceeded"
KiCad only support line lengths [up to 1,000,000 characters](https://docs.kicad-pcb.org/doxygen/richio_8h.html#ae203eeb5e6d140fe2d5fb60f2faf5203).

In case of complex PCBs, we generate files with longer lines, e.g.:
[line-length-exceeded.zip](https://github.com/wokwi/easyeda2kicad/files/5395267/line-length-exceeded.zip)

This can be fixed by adding some new lines when generating the output.

[2020-10-17 09:22] urish opened #44 "Missing layer id: 99"
Some PCBs cause an "Missing layer id: 99" error, e.g. [missing-layer-99.zip](https://github.com/wokwi/easyeda2kicad/files/5395281/missing-layer-99.zip)

[2020-10-17 09:24] urish commented on #42
Thanks for reporting!

SVGNODE are unlikely to be supported, as the conversion requires a complex process, and they are usually just graphics and do not have a functional use for the PCB.

The `npth` SOLIDREGION requires further investigation. I also opened issues #43 and #44 that cause these files to fail conversion.

[2020-10-21 20:27] sethmarks opened #45 "Board outline is not closed"
When I convert my EasyEDA board it can be opened in KiCAD just fine.  The outline is as expected but when I view the 3D Viewer I get an error "Board outline is not closed: Unable to find edge with and endpoint of (27.221,-0.444)".

[2020-10-23 14:51] urish commented on #45
Sometimes that outline does not close due to rounding errors with rounded corners / arcs. Do you use any rounded corners / arcs in your design?

[2020-10-23 17:09] sethmarks commented on #45
There are internal circles for screw holes but the edges are all lines.  However, many of the lines are at an angle so that could be causing the issues.  It is not a simple design.

[2020-10-23 20:21] urish commented on #45
Yes, if you can provide the original board JSON file I can have a look to see if this is something that can be fixed

[2020-11-09 23:02] jamespie1 opened #47 "Warning: unsupported SOLIDREGION type npth, unsupported shape SVGNODE, unsupported shape PROTRACTOR"
Thanks for you contribution!

I have three different JOSN files I tried converting. All of which have multiple lines of the same error type..  20-100 error code lines! Can you PM me an email I can send the files to? Thanks

[2020-11-10 02:18] Fshah48 opened #48 "Unsupported file format"
Running easyeda2kicad v1.9.0:
Reading file 1-Schematic_Lora_end_node.json...
Parsing content...
Error: unsupported file format 5

----------------------------------------------------------------------------------------------------------------------
[Project_Lora_end_node_2020-11-10_02-08-58.zip](https://github.com/wokwi/easyeda2kicad/files/5514400/Project_Lora_end_node_2020-11-10_02-08-58.zip)

wa

[2020-11-10 17:55] urish commented on #48
Schematic files are not supported at the moment (issue #2 tracks this)

[2020-11-10 17:55] #48 closed

[2020-12-23 19:55] syedkarim opened #49 "Error: unsupported file format 4"
When I upload this file, I receive an error from the website:
https://wokwi.com/easyeda2kicad?utm_source=wokwi&utm_medium=blog&utm_campaign=easyeda2kicad

I changed the extension from .json to .txt, so it could be attached here.
[MICRO-USB-SMD_U254-051N-4BH806_2020-12-23_13-34-10.txt](https://github.com/wokwi/easyeda2kicad/files/5736891/MICRO-USB-SMD_U254-051N-4BH806_2020-12-23_13-34-10.txt)

[2020-12-28 20:41] karinchechik commented on #49
Hi,

This file is a footprint and footprints should be converted to .kicad_mod - which are not supported yet.
@urish - will it make sense to treat footprints like pcb for the conversion (docType 3)? I'm not familiar with the usage of footprints in kicad.

[2020-12-28 20:50] urish commented on #49
The `.kicad_mod` files are quite similar to the `.kicad_pcb` format, so it could be as simple as reusing the [logic that converts footprints](https://github.com/wokwi/easyeda2kicad/blob/84a9d4cd8858be9a54df5c65d673b3f9190ad8dc/src/board.ts#L504-L559) and just dumping the result to a `.kicad_mod` file.

Here is an example of a very basic `.kicad_mod` file from one of my projects:

[code]

So the ou

[2020-12-29 07:38] karinchechik commented on #49
Yes @urish, I will do it in the next few days :)

[2021-01-31 10:05] songqiying opened #50 "possible that EDA's footprint format has changed."
all pcb file has one footprint , but it also has wrong .  maby  the  lceda's  footprintf format has changed

[PCB_json.zip](https://github.com/wokwi/easyeda2kicad/files/5899495/PCB_json.zip)

[2021-02-01 06:47] songqiying commented on #50
the problem is this .
![lceda2-1](https://user-images.githubusercontent.com/51990528/106423799-15e5f580-649c-11eb-8c68-70ecfb4fa734.png)

I did not know what it is , but if i delet the   (#@$SOLIDREGION...) on  footprint  lable  ,  it is work.

[2021-02-01 11:05] urish commented on #50
Thanks for looking for the problem and sharing the screenshot! I hope to look at it on Friday

[2021-02-02 09:02] cescvarkevisser commented on #44
Have you found the cause for this error? I'm getting the same for my pcb...

[2021-02-05 15:18] bsaid opened #51 "Conversion failed: Error: Missing layer id: 100"
How to reproduce the error:

1. Open LCSC parts catalog and find, for example, component C319164 (micro USB female):
     https://lcsc.com/product-detail/USB-Connectors_XKB-Connectivity-U254-051T-4BH23-S2B_C319164.html/
2. Open EasyEDA model by clicking "EasyEDA Model" button and save the EasyEDA board source code.
3. Then try to convert this EasyEDA board to KiCad using this tool.
4. You will see

[2021-02-06 11:29] #44 closed

[2021-02-06 11:38] urish commented on #50
Should be fixed in the latest release!

[2021-02-06 11:38] #50 closed

[2021-02-06 11:40] urish commented on #51
Thanks, fixed!

[2021-02-06 11:40] #51 closed

[2021-02-26 17:33] ceafin opened #54 "Component Footprint Missing Drill Holes"
To reproduce:

1. Open LCSC parts catalog and find, for example, component C319164 (micro USB female):
    https://lcsc.com/product-detail/USB-Connectors_XKB-Connectivity-U254-051T-4BH23-S2B_C319164.html/
2. Open EasyEDA model by clicking "EasyEDA Model" button and export the EasyEDA PCB as JSON.
3. Then try to convert this EasyEDA JSON to KiCad PCB using this tool.
4. Open in KiCAD PCBNew. (Looks

[2021-02-26 17:47] ceafin commented on #54
Ah, not just that part. I tried several other components and whole boards, and it seems it doesn't put drill holes for any THT footprints.
So I'm guessing this may just be how it is supposed to work?

[2021-02-27 14:21] yaybee commented on #54
You probably forgot to switch off the solder paste layer in the 3D viewer, if all pads are gray. You can do this in the 3D Display Options menu. The conversion has no issues as far as I can see.

[2021-03-06 05:13] adamalfath opened #55 "PTH pad converted into via"
I have an issue where plated thru hole pad is converted into via on Kicad. The pad doesn't belong to any component, it's just added via Easyeda toolbox (keyboard shortcut P). Pads that belong to component (eg. pin header) is converted correctly.

![Screenshot_1](https://user-images.githubusercontent.com/19376004/110196094-c583fe00-7e74-11eb-9871-2209d1182cd6.png)

[2021-03-09 01:55] pseudobacon opened #56 "Expecting various parameters when converting"
![image](https://user-images.githubusercontent.com/12183854/110406628-a684a680-80d6-11eb-87b6-9bcedec3d81b.png)

Tried converting this PCB https://easyeda.com/editor#id=fb9c78147b8a4a56ba6e0303a6dab62d|1153f3c588764d92b3224a7e64d7838e

[2021-03-21 05:46] thecriticalpoint commented on #2
Thank you @urish. You made an incredibly useful thing.

Just out of curiosity is what would it take for you to be motivated enough to want to have it convert the easyEDA schematic? If that isn't a valid question in 2021 is there another way to perform this task with possibly another tool that didn't exist in Feb 2020. A lots's happened since then.

[2021-03-21 08:25] urish commented on #2
@yaybee worked on it in #58, but unfortunately I haven't had the time yet to go over the changes and integrate them

[2021-04-20 01:54] ulflulfl opened #60 "Strange texts (e.g. gge638a534c459c248c) in the Cmts.User layer and other minor problems"
Hi!

Thanks for the COOL tool!

I've just tried your online tool with one of my designs (attached below) and found some minor problems.

1. The placement of the silk screen texts are off, which is unfortunate as it requires additional manual effort to cleanup the board. As this is a board for experimentations, having correctly placed texts is quite important. Probably what you meant with "... with

[2021-06-18 09:55] mirkogyo opened #64 "unsupported layer id: 101"
i got this output

Reading file C149588.json...
Parsing content...
Detected EasyEDA board (PCB) file.
Warning: unsupported layer id: 101
Warning: unsupported layer id: 100
Warning: unsupported layer id: 100
Warning: unsupported layer id: 99
Warning: unsupported shape SVGNODE in footprint gge30
Writing output to C149588.kicad_pcb...
Conversion done!

but no output file

[C149588.txt](https://github

[2021-06-20 13:09] anjonghyun opened #65 "easyeda kicad 변환"
404error

[2021-06-21 21:18] TEK-Nemesis opened #66 "404 - Failed - No File"
Hi.  I've tried with a few different EasyEDA project files and they all look to work but then no file is produced.

Here's a sample log:

Running easyeda2kicad v1.9.2:
Reading file top final_2021-06-21.json...
Parsing content...
Detected EasyEDA board (PCB) file.
Warning: unsupported shape SVGNODE
Warning: unsupported shape SVGNODE
Writing output to top final_2021-06-21.kicad_pcb...
Conversion don

[2021-06-21 21:22] urish commented on #66
Can you please attach a sample for a file that fails?

[2021-06-21 21:24] TEK-Nemesis commented on #66
Sent from my Commodore VIC-20

------ Original Message ------
From: "Uri Shaked" ***@***.***>
To: "wokwi/easyeda2kicad" ***@***.***>
Cc: "TEK Nemesis" ***@***.***>; "Author"
***@***.***>
Sent: 2021-06-21 3:22:54 PM
Subject: Re: [wokwi/easyeda2kicad] 404 - Failed - No File (#66)

[2021-06-22 13:44] elementzonline commented on #66
I am also facing the same issue when uploading the EasyEDA json file to the website. On response, it sends back the "No File" 404 response.

I checked with an old JSON file from EasyEDA which was worked in the past, it also has the same issue.
Anyway, the npm tool is still working fine in the local PC.

Please see the instructions for running this tool in the npm ecosystem

I installed npm in my U

[2021-06-22 14:01] urish commented on #66
Thanks for reporting, fixed!

[2021-06-22 14:01] #66 closed

[2021-06-22 14:02] urish commented on #65
Fixed!

[2021-06-22 14:02] #65 closed

[2021-06-22 14:02] urish commented on #64
Download issue fixed!

[2021-06-22 14:02] #64 closed

[2021-06-22 19:28] TEK-Nemesis commented on #66
It works perfectly for me now.  Thank you very much!!!

Sent from my Commodore VIC-20

------ Original Message ------
From: "Uri Shaked" ***@***.***>
To: "wokwi/easyeda2kicad" ***@***.***>
Cc: "TEK Nemesis" ***@***.***>; "Author"
***@***.***>
Sent: 2021-06-22 8:01:33 AM
Subject: Re: [wokwi/easyeda2kicad] 404 - Failed - No File (#66)

[2021-07-07 07:56] anjonghyun opened #67 "Error in generated KiCad PCB file"
[파일 변환 오류 보고서.txt](https://github.com/wokwi/easyeda2kicad/files/6775362/default.txt)
![화면 캡처 2021-07-07 165431](https://user-images.githubusercontent.com/86161413/124721716-4f87c480-df44-11eb-8b7c-e530019f3c7d.png)
![화면 캡처 2021-07-07 165419](https://user-images.githubusercontent.com/86161413/124721720-50205b00-df44-11eb-941b-1dad1cbc6f9a.png)

[2021-07-07 08:00] urish commented on #67
Can you please upload / add a link to the board file itself (PCB_SU9_STM32_2021-07-07.json) ?

[2021-07-07 08:08] anjonghyun commented on #67
[새 폴더.zip](https://github.com/wokwi/easyeda2kicad/files/6775436/default.zip)

[2021-07-07 08:12] urish commented on #67
Thanks! I can see this reproduces for me as well.

Looking inside the kicad_pcb file, I can even see what causes the issue:

[code]

I'll investigate where these NaN values from from and fix

[2021-07-09 15:48] #67 closed

[2021-07-10 05:35] urish commented on #67
Fixed, thanks for reporting!

[2021-07-28 16:19] shanzez opened #68 "Warning: unsupported layer id: ##"
Export EasyEDA footprint for this part: https://lcsc.com/product-detail/Pluggable-System-Terminal-Block_Ningbo-Kangnex-Elec-WJ15EDGRC-3-81-2P_C8387.html

Try to convert it using this tool and get these warnings:
[code]

When I try to load the kicad_mod footprint into KiCad footprint editor, it says it's not a valid footprint.

"Warning Not a footprint file"

I read in an earlier ticket that the "u

[2021-07-28 21:34] shanzez commented on #68
NM, I forgot to delete up to `(module` in the produced kicad_mod file. The produced file works. We'll ignore the warnings.

[2021-07-28 21:34] #68 closed

[2021-08-03 18:13] #55 closed

[2021-11-06 17:09] phil-barrett opened #72 "Make a footprint library?"
No problems - it works great. Thanks for your work!

I don't want to design things in easyEDA, I just want to get usable footprints from it.  So, I make a board with the footprint in easyeda, convert it to kicad with your awesome tool and then extract the footprint.  Maybe there's a shortcut way?

[2021-11-06 19:32] urish commented on #72
You're welcome :)

I guess it should be possible, but unfortunately I do not have the capacity to look into this. Maybe someone else would?

[2021-11-06 19:54] phil-barrett commented on #72
To be fair, I usually make my own footprints or use the KiCAD ones.  But unfortunately some datasheets don't have complete footprint data . Connectors DSs often do not say where the center is, for example.  Important for pick and place assembly.  But somehow, easyEDA footprints have that info. Making a small PCB with the device on it to then export and use KiCAD to create a library entry from it i

[2021-11-22 22:28] SukkoPera opened #73 "Double quotes in string not escaped properly"
Hi, thanks for this great script, first of all!

I tried to convert [this project](https://easyeda.com/editor#id=a4ae24f9d25944dd941b2338bc59c047|ff91d635dfd74f708e79f0ebbe7634b4) but when opening the resulting file in KiCad I get an error at column 35871, regarding a string containing double quotes. It was easy to fix in the generated file but you might want to solve it once for all :).

Attachin

[2021-11-24 02:15] mmuman opened #74 "Only accept JSON in file input?"
HTML5 now supports filtering files in form file inputs. Adding a `accept="application/json"` manually in the DOM here seems to work. That would help locate the source file.

[2021-11-24 08:05] urish commented on #74
Done, thanks for the suggestion!

[2021-11-24 08:05] #74 closed

[2021-11-28 08:54] #73 closed

[2021-11-28 08:54] urish commented on #73
thanks for reporting, fixed!

[2022-01-02 04:26] Boaztheostrich commented on #43
how do I add new lines while generating output

[2022-01-21 04:39] reinauer opened #75 "Failed conversion"
Hi,

I tried to convert a 4 layer board today and it failed:

[code]

An output file is written. But when I attempt to load it into Kicad 6, I get "Maximum line length exceeded" and then Kicad terminates.

Let me know if you would like to see the input file.

[2022-01-21 09:11] urish commented on #75
Duplicate of #43

Right now, the work around would be to manually open the generated file in a text editor and add a line break somewhere (e.g. after some closing parenthesis)

[2022-01-21 09:11] #75 closed

[2022-02-25 09:39] TheButlah commented on #49
Did this ever get implemented? EasyEDA has a great selection of footprints, and getting them into kicad would be great :)

[2022-02-25 23:57] urish commented on #49
Nope :)

[2022-03-16 03:03] infosisio commented on #2
I would like to also express my interest for supporting schematic conversion.

[2022-03-21 05:46] gsrobotics commented on #2
I would like to also express my interest in supporting schematic conversion.

[2022-03-25 02:08] jrsphoto commented on #2
Yes, please. I know this is an old thread but if you could add schematic conversion you would save me weeks, of time..

[2022-03-26 22:29] urish commented on #2
Unfortunately, I do not have the bandwidth to add this feature.

[2022-03-28 01:42] yangjuncode commented on #2
here is a python version: https://github.com/uPesy/easyeda2kicad.py

[2022-03-28 08:14] urish commented on #2
@yangjuncode thanks for sharing! Cool to see that your version also supports 3d module conversion.

[2022-03-28 10:11] M10CUBE commented on #2
Guys this is getting better and better. I hope to see soon a final version that does it all. Congratulations to everybody.
Our team without KiCAD will never could do this contribute to the community: www.wizcube.eu
Easyeda is a place where useful material can be found and transferred to  KiCad to easy community designs.
Thanks again guys...

[2022-05-15 17:55] hi1213345446231 opened #77 "Doesnt give a "good/ correct" out put for kicad and has the bellow errors"
Detected EasyEDA board (PCB) file.
Warning: unsupported shape SVGNODE
Warning: unsupported layer id: 101
Warning: unsupported layer id: 101
Warning: unsupported layer id: 101
Warning: unsupported layer id: 101
Warning: unsupported layer id: 100
Warning: unsupported layer id: 100
Warning: unsupported layer id: 100
Warning: unsupported layer id: 100
Warning: unsupported layer id: 100
Warning: unsupp

[2022-05-31 11:04] samuk opened #78 "Expecting layer/width in input source"
I ran this project through your web version https://oshwlab.com/cost.co/20220126_bldc_mosquito_copy

I get the above error loading in

Application: KiCad
Version: 5.1.9+dfsg1-1, release build
Libraries:
    wxWidgets 3.0.5
    libcurl/7.74.0 OpenSSL/1.1.1n zlib/1.2.11 brotli/1.0.9 libidn2/2.3.0 libpsl/0.21.0 (+libidn2/2.3.0) libssh2/1.9.0 nghttp2/1.43.0 librtmp/2.3
Platform: Linux 5.10.0-14-amd64

[2022-11-01 13:08] jopl opened #79 "Unexpected ERROR messages during conversion"
Dear Wokwi,
first, thank you for your valuable tool for conversion from EasyEda to KiCad format.
The conversion itself was successful, just 2 types of warning messages appeared:
1) Warning: unsupported shape RECT
2) Warning: unsupported shape SVGNODE
If you would like to test it, I can send you the EasyEda file, but just let me know your email address.
Kind regards, Josef.